<header>
  <nav class="navbar bg-dark d-flex">
    <a class="navbar-brand" href="">
      <img src="https://upload.wikimedia.org/wikipedia/fr/2/2a/Logo_Carambar.png" width="180" height="60"
        class="d-inline-block align-top">
    </a>
  </nav>
</header>

<!--  Consulter une blague aleatoire -->

<div class="py-5 text-center bg-light">

  <h1 class="fw-light">On commence par une petite blague ?</h1>

  <p class="mt-4">
    <button class="btn btn-primary" type="button">Blague</button>
  </p>

  <div class="card card-body container">
    <p class="fs-4 fw-bold">C'est quoi blabla qui enfaite et le blabla ?</p>
    <p>La blague lol</p>
  </div>

</div>

<!-- Consulter une Blague avec son id -->

<div class="py-5 text-center">
  <div class="container">

    <h1>Consulter une blague ?</h1>

    <form class="row g-3">

      <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="number" class="form-control" id="idBlague" placeholder="1">
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Voir</button>
      </div>

      <div class="card card-body">
        <p class="fs-4 fw-bold">C'est quoi blabla qui enfaite et le blabla ?</p>
        <p>La blague lol</p>
      </div>

    </form>

  </div>
</div>

<!-- Consulter toute les blagues -->

<div class="py-5 text-center bg-light">
  <div class="container">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Question</th>
          <th scope="col">Réponse</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>