<header>
  <nav class="navbar bg-dark d-flex">
    <a class="navbar-brand" href="">
      <img src="https://upload.wikimedia.org/wikipedia/fr/2/2a/Logo_Carambar.png" width="180" height="60"
        class="d-inline-block align-top">
    </a>
  </nav>
</header>

<!--  Consulter une blague aleatoire -->

<div class="py-5 text-center bg-light">

  <h1 class="fw-light">On commence par une petite blague ?</h1>

  <div class="mt-4">

    <button (click)="fetchRandomBlague()" class="btn btn-primary" type="button">Blague</button>

    <div *ngIf="oneRandomBlague" class="card card-body container mt-4">
      <p class="fs-4 fw-bold">{{ oneRandomBlague.question }}</p>
      <p>{{ oneRandomBlague.answer }}</p>
    </div>

  </div>
</div>

<!-- Consulter une Blague avec son id -->

<div class="py-5 text-center">
  <div class="container">

    <h1>Consulter une blague ?</h1>

    <form (ngSubmit)="fetchOneBlague()" class="row g-3">

      <div class="col-auto">
        <label for="myBlagueInput" class="visually-hidden">id de la Blague</label>
        <input type="number" class="form-control" id="myBlagueInput" [(ngModel)]="idBlagueInput" name="idBlagueInput" placeholder="1">
      </div>

      <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Envoyer</button>
      </div>

      <div *ngIf="oneBlague" class="card card-body">
        <p class="fs-4 fw-bold">{{ oneBlague.question }}</p>
        <p>{{ oneBlague.answer }}</p>
      </div>

    </form>

  </div>
</div>

<!-- Consulter toute les blagues -->

<div class="py-5 text-center bg-light">
  <div class="container">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Question</th>
          <th scope="col">Réponse</th>
        </tr>
      </thead>
      <tbody>


          <tr *ngFor="let blague of blagues; index as i; first as isFirst">
            <th scope="row">{{ blague.id }}</th>
            <td>{{ blague.question }}</td>
            <td>{{ blague.answer }}</td>
          </tr>
        
        

      </tbody>
    </table>

  </div>
</div>